<div class="container mr-4">
  <h2 class="text-center">Add a Quote</h2>
  <br />
  <form action="" (ngsubmit)="submitQuote()" #form="ngForm">
    <div class="mb-3">
      <label for="quote" class="form-group">Add a quote</label>
      <textarea
        class="form-control"
        id="nquote"
        rows="3"
        name="quote"
        [ngModel]="newQuote.quote"
        #quote="ngModel"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Author</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="author"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Sender</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="sender"
      />
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
