<div class="container">
  <h2 class="text-center">Add a Quote</h2>
  <br />
  <form action="">
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Add a quote</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Author</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="author"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Sender</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="sender"
      />
    </div>
    <button class="btn btn-success">Submit</button>
  </form>
</div>
