<h1 class="text-center">quoteApp</h1>
<div class="container bg-dark text-light d-flex p-4">
  <div>
    <app-form (addQuote)="addNewQuote($event)"></app-form>
  </div>
  <div>
    <div class="p-2" *ngFor="let quote of quotes; let i = index">
      Quote: {{ quote.quote }}
      <br />
      Author: {{ quote.author }}
      <br />
      Sender: {{ quote.sender }}
      <br />
      Votes: {{ votesliked }}
      <button class="btn btn-success m-1" (click)="functionlike()">like</button>
      votes:{{ votesdisliked }}

      <button class="btn btn-primary m-1" (click)="functiondisliked()">
        dislike
      </button>

      <button class="btn btn-danger m-1" (click)="functiondelete(i)">
        delete
      </button>
    </div>
  </div>
</div>
