<h1 class="text-center">quoteApp</h1>
<div class="container bg-dark text-light d-flex p-4">
  <div>
    <app-form (addQuote)="addNewQuote($event)"></app-form>
  </div>
  <div>
    <div class="p-2 text-light" *ngFor="let quote of quotes; let i = index">
      <span style="color: orange">Quote</span>:{{ quote.quoteDescription }}
      <br />
      <span style="color: orange">Author</span>: {{ quote.author }}
      <br />
      <span style="color: orange">Sender</span>: {{ quote.sender }}
      <br />
      {{ addLikes }}
      <button class="btn btn-success m-1" (click)="addLikes(i)">
        like{{ quote.showLikes }}
      </button>

      {{ addDislikes }}
      <button class="btn btn-primary m-1" (click)="addDislikes(i)">
        dislike{{ quote.showDislikes }}
      </button>

      <button class="btn btn-danger m-1" (click)="functiondelete(i)">
        delete
      </button>
    </div>
  </div>
</div>
